
<form action="/products" method="POST" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="name">Write the product name</label>
            <input type="text" name="name" placeholder="name" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="brand">Write the product brand</label>
            <input type="text" name="brand" placeholder="brand" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="avatar">Write the product avatar</label>
            <input type="text" name="avatar" placeholder="avatar" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>