{% extends 'layout.html' %}
{% block content %}



<div class="row">
    <div class="col-5">
        {% include 'partials/_messages.html' %}
        {% include 'partials/_productForm.html' %}
    </div>
    <div class="col-7">
        {% for product in products %}

        <div class="card mb-1 text-white bg-dark">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="col-3"><img 
                        style="border-radius: 50% ;"
                        height="200px"
                        src="{{product.avatar}}" />
                    </div>
                    <div class="col-6">
                        <h1>{{ product.name }}</h1>
                        <h4>{{ product.brand }}</h4>
                        <p>{{product.avatar}}</p>
                    </div>
                    
                    <div>
                        <a class="btn btn-danger btn-sm rounded-0" href="{{url_for('products.delete', id=product.id)}}">Delete</a> 
                        <a class="btn btn-success btn-sm rounded-0" href="{{url_for('products.update', id=product.id)}}">Update</a> 
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}