{% extends 'layout.html' %}
{% block content %}

<h1>Users Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste consectetur alias blanditiis esse, architecto minima error asperiores repellat obcaecati impedit cumque laborum saepe facilis! Ipsum corrupti consequuntur recusandae itaque, labore blanditiis explicabo omnis nesciunt quis nulla quasi at quaerat porro autem nisi facilis provident. Quibusdam dolorum debitis, quam quidem officiis impedit voluptatibus, delectus eum perspiciatis voluptates cumque ex autem. Reprehenderit dolores consequatur recusandae deserunt velit minima rerum maxime in aut voluptatibus necessitatibus provident, placeat ipsam sed dolorum laborum voluptas quasi culpa, inventore nihil? Atque maiores praesentium ex quas molestias voluptatem animi esse magni. Numquam quibusdam magnam assumenda, quae ratione illo!</p>

{% endblock %}